
#wrapper
{width: 100%; margin-top: 10px; text-align:center; }
#header {width: 70%; background:#BF3325; margin-top: 0px; padding:15px 0px 15px 15px;text-align:center;color:#562222}
#header h2 {width: 100%; margin:auto; }
#container {width: 100%; }
#container h3 {color: red;}
#container #content {margin-top: 50px;}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px;
	margin-bottom: 15px;
	background: #562222;
}

 .styled-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-size: 0.9em;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 .styled-table thead tr {
     background-color: black;
     color: #ffffff;
     text-align: left;
 }
 .styled-table th,
 .styled-table td {
     padding: 12px 15px;
 }
 .styled-table tbody tr {
     border-bottom: 1px solid red;
 }

 .styled-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
 }

 .styled-table tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
 }